module.exports = {
  production: {
    database: {
      client: 'mysql',
      connection: {
        host: '127.0.0.1',
        user: '',
        password: '',
        database: 'catalog',
        charset: 'utf8'
      }
    },
    logger: {
      name: 'Catalog',
      streams: [{
        level: 'info',
        stream: process.stdout
      }]
    },
    searchupc: {
      api: 'http://www.searchupc.com/handlers/upcsearch.ashx',
      access_token: ''
    }
  } 
}
